@import "variables"


.inboxCard
    height: 80%
    min-height: 375px

    width: 65%
    min-width: 300px

    box-shadow: 0 0 5px rgba($color: #000, $alpha: .4)

    header
        display: flex
        background: $primaryColor
        height: 60px
        width: 100%

        align-items: center
        justify-content: center

        span
            color: white
            font-size: 20px