@import "variables"
    
.loginPage
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 100%
    background: linear-gradient(to right bottom, $primaryColor, $secondaryColor)