@mixin materialButton()
    margin: 5px
    background: transparent
    border: 2px solid $primaryColor
    font-size: 16px
    color: $primaryColor
    outline: none
    cursor: pointer
    transition: .1s
    padding: 5px 10px
    text-decoration: none

    &:active
        background: rgba($color: $primaryColor, $alpha: .4)

@mixin gradientBackground()
    background: linear-gradient(to right bottom, $primaryColor, $secondaryColor)
