.loginCard
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    width: 40vw
    min-width: 250px
    max-width: 400px

    height: 40vh
    min-height: 200px
    max-height: 300px
    
    background: #ffffff

    box-shadow: 0 0 10px rgba(0,0,0,.4)

    form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%