.loginCard
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 40vh
    width: 40vw
    min-height: 200px

    box-shadow: 0 0 10px rgba(0,0,0,.4)

    form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%